.App {
  text-align: center;
}

.App-logo {
  width: 50px;
  height: 50px;
  margin-left: 10%;
  margin-top: 1em;
}

.App-header {
  background-color: black;
  min-height: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.nav-bar{
  height: 110px;
  display: flex;
  align-items: center;
}

ul{
  margin-top: 2em;
  margin-left: 46%;
}

a{
  color: white;
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

body{
  background-color: black;
}

.Foto{
  width: 100%;
  display:inline-block;
  position:relative;
  filter: grayscale(.75);
}

button.BtnDownload{
  position:absolute;
  top:65%;
  left:45%;
  background-color: green;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  border: 0 none;
  color: white;
  font-weight: 800;
}

p{
  color: white;
  font-size: xx-large;
  font-weight: 600;
  position:absolute;
  top:70%;
  left: 23%;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 100px;
  background-color: black;
  color: #444;
  margin-bottom: 300px;
  margin-top: 3em;
  margin-left: 10em;
}

.box {
  width: 150px;
  height: 50px;
  background-color: black;
  color: #fff;
  font-size: 100%;
  text-align: center;
}

ul.nav-footer{
  margin: 0;
  margin-left: 0px;
  padding: 0;
}

ul.nav-footer a{
  margin-right: 0;
}

li {
  list-style-type: none;
  text-align: left;
  margin: 1em;
}

.a-cinza{
  color: gray;
}

div.box.f{
  background-color: black;
}

img.Social{
  width: 15%;
  padding: 1em;
}

div.box.e{
  margin-left: 5em;
  width: 300px;
}

div.p-footer{
  text-align: start;
  margin-left: 2em;
  margin-bottom: 4em;
}

div.p-footer a{
  color: rgb(156, 156, 156);
  font-size: small;
  font-weight: 300;
  margin-right: 3em;
  text-decoration: none;
}

h1{
  color: white;
  font-size: larger;
}

label{
  margin: 0;
  padding: 0;
}

div.label{
  color: white;
  display: grid;
  justify-content: left;
}

form{
  display: grid;
  background-color: transparent;
  width: 400px;
  margin-left: 480px;
}

input{
  width: 300px;
  height: 30px;
  border: none;
}

form h1{
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 30px;
}

.form-cadastro__group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.form-cadastro__group label{
  color: black;
  margin-bottom: 5px;
  margin-left: 40px;
}

.form-cadastro__group input{
  display: flex;
  justify-content: center;
  border: 1px solid #00d95f;
  padding: 0 10px;
  background-color: white;
  color: black;
  margin: 0 40px;
}

button.form-btn{
  background-color: green;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border: 0 none;
  color: white;
  font-weight: 800;
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 120px;
}

.fundo-form{
  background-color: rgb(146, 146, 146, 0.1);
}

div.error{
  width: 300px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 40px;
  color: rgb(130, 0, 0);
}

.login{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

h1.login-titulo{
  color: black;
  display: flex;
  justify-content: center;
}

div.user-input{
  display: flex;
  align-items: center;
  padding: 10px;
}

div.user-input svg{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

input#email{
  border: 1px solid #00d95f;
  background-color: white;
  color: black;
}

div.password-input{
  display: flex;
  align-items: center;
  padding: 10px;
}

div.password-input svg{
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

input#password{
  display: flex;
  justify-content: center;
  border: 1px solid #00d95f;
  background-color: white;
  color: black;
}

div.login-btn{
  display: flex;
  justify-content: center;
}

button.btn{
  background-color: green;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border: 0 none;
  color: white;
  font-weight: 800;
  margin: 1rem;
}